:root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.87);
  background-color: hsla(0, 100%, 50%, 1);
  background-image: radial-gradient(
      at 40% 20%,
      hsla(28, 100%, 74%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* APP */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.pokemonLogo {
  width: 70%;
  max-width: 500px;
  margin-bottom: 5rem;
}

.containerPokedex {
  position: relative;
}
.pokedexImage {
  position: relative;
  width: 100%;
  max-width: 900px;
  repeat: no-repeat;
}

.pokemonImage {
  width: 20%;
  position: absolute;
  top: 55%;
  left: 16%;
  transform: translateY(-45%);
}

i {
  color: #000;
}


.searchBar{
position: absolute;
height: 5%;
width: 32%;
bottom:15%;
right:7%;
border-radius: 15px;
background-color: #7C9F31;
}

.searchBar[type=text] {
  font-size: 1.5rem;
  padding-left: 1rem;
}

.searchBar::placeholder{
  color: black;
  font-size: 1.5rem;
  padding-left: 1rem;
}

.searchButton {
position: absolute;
height: 5%;
width: 5%;
items-align: center;
text-align: center;
bottom:15%;
right:7%;
border-radius: 15px;
background-color: transparent;
}

p {
  color: black;
  font-weight: semibold;
  position: absolute;
  text-align: left;
  margin:0;
  padding:0;
}

.pokemonImage{
  width: 14%;
  position: absolute;
  top: 58%;
  left: 20%;
}

.pokemonId {
  font-size: 1.25rem;
  color : white;
  top: 64%;
  left: 12%;
}
.pokemonName {
  font-size: 1.25rem;
  text-transform: uppercase;
  color: white;
  top: 64%;
  left: 17%;
}
.pokemonTypes{
  font-size: 1.4rem;
  top: 54%;
  right: 17%;
  width: 20%;
}
.pokemonHeight{
  font-size: 1rem;
  text-transform: uppercase;
  top: 57%;
  right: 26%;
}
.pokemonWeight{
  font-size: 1rem;
  text-transform: uppercase;
  top: 57%;
  right: 10%;
}